@use "../../sass/variables" as *;

.home {
  &__products {
    padding: 0 166px 166px;
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
  }
  &__card {
    width: 330px;
    height: 337px;
    border: solid 1px $border-background-card;
    border-radius: 8px;
  }

  &__card-description {
    padding: 16px;
    text-align: center;

    p {
      padding-bottom: 11px;
    }

    button {
      height: 24px;
      width: 128px;
      background-color: $contrast-color;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      border: 1px solid #0000004d;
    }

    a {
      text-decoration: none;
      color: $white;
    }
  }
}
